body{
  margin:5em;
}

header ul{
  border-bottom: thin solid black;
}

ul{  
  padding: 0;
  color:#d2143a;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;

}
h2{
  color:#0066ff;
}
h3{
  color:#00ffaa;
}

main{
  align-items: stretch;
  padding-top: 2em;
}

article{
  margin-right: 20%;
}
main>strong{
  color: #e60000;
}
a{
  font-weight: bold;
  color:#d2143a;;
  text-decoration: none;
}

h1 > span{
  font-style: oblique;
  color: gray;
}

h1{
  font-size: 5rem;
  font-weight:bold;
  border-bottom: thick solid black;
}
.Facebook{
  color:#0066ff;
}
.Flickr{
  color:#0066ff;
}
.LastFm{
  color:#d2143a;;
}
.Linkedln{
  color:#005ce6;
}
.Dribble{
  color:#ff3399;
}
footer{
  padding-top: 1em;
  border-top: solid;
  color:black;
}

footer > p{
  margin:0;
}
img{
  width: 1em;
	height: 1em;
}
h1>span{
  color: #d2143a;
}